@font-face {
    font-family: 'noto_sansregular';
    src: url('../fonts/notosans-regular-webfont.eot');
    src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/notosans-regular-webfont.woff2') format('woff2'),
    url('../fonts/notosans-regular-webfont.woff') format('woff'),
    url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
    url('../fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'recoletaregular_demo';
    src: url('../fonts/recoleta-regulardemo-webfont.eot');
    src: url('../fonts/recoleta-regulardemo-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/recoleta-regulardemo-webfont.woff2') format('woff2'),
    url('../fonts/recoleta-regulardemo-webfont.woff') format('woff'),
    url('../fonts/recoleta-regulardemo-webfont.ttf') format('truetype'),
    url('../fonts/recoleta-regulardemo-webfont.svg#recoletaregular_demo') format('svg');
    font-weight: normal;
    font-style: normal;
}
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: #163A24;
    margin: auto;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: auto;
}
.logo{
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
header nav ul li:first-of-type{
    padding-top: 41px;
    padding-bottom: 35px;
    margin-right: 24px;
}
header nav ul li:nth-child(2){
    padding-top: 41px;
    padding-bottom: 35px;
    margin-right: 24px;
}
header nav ul li:last-of-type{
    border-radius: 160px;
    background: #198C36;
    padding-top: 21px;
    padding-bottom: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 25px;
    margin-left: 25px;
}
header div nav ul li a{
    color: #FBFAF7;
    text-align: right;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.div-h1{
    background-color: #163A24;
    margin: auto;
}
.div-h1-section{
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.div-h1-section-article{
    padding-bottom: 129px;
    padding-top: 120px;
}
h1{
    max-width: 391px;
    color: #FBFAF7;
    font-family: Recoleta;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 65.25px; /* 135.938% */
    padding-bottom: 18px;
}
.h1-p1 {
    color: #FBFAF7;
    font-family: Noto Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    max-width: 475px;
}